{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="Inicio">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Listado de socios ingresados</h2>                  
                
                {% for socio in lista_socios %}
                    <li>{{socio.nombre}}  {{socio.apellido}}</li>
                {% endfor %}
                <div class="div-boton">
                    <a href="{% url 'Inicio' %}" class="boton-link">Inicio</a>
                    <a href="{% url 'FormularioInicial' %}" class="boton-link">Formularios</a>
                    <a href="{% url 'BusquedaInicial' %}" class="boton-link">Búsquedas</a>
                </div>     
            </div>
        </div>
    </div>
</section>  
{% endblock Biblioteca %}