{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="Inicio">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>¡De una vuelta por los registros de nuestra biblioteca!</h2>
                <div class="div-boton">
                    <a href="{% url 'ListadoLibros' %}" class="boton-link">Libros</a>
                    <a href="{% url 'ListadoSocios' %}" class="boton-link">Socios</a>
                    <a href="{% url 'ListadoSectores' %}" class="boton-link">Sectores</a>
                </div>                     
            </div>
        </div>
    </div>
</section>  
{% endblock Biblioteca %}