{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="Inicio">
    
    <div class="container px-4 px-lg-5">
        
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Resultado de búsqueda de sectores</h2>
                <hr class="divider divider-light" />
                {% if codigo_sector %}
                    <p>Datos del sector código {{codigo_sector}}</p>                
                    <h4> {{sector.nombre}} - {{sector.color}}</h4>
                {% else %}
                    <p>{{respuesta}}</p>
                {% endif %}
                <div class="div-boton">
                    <a href="{% url 'Inicio' %}" class="boton-link">Inicio</a>
                    <a href="{% url 'FormularioInicial' %}" class="boton-link">Formularios</a>
                    <a href="{% url 'BusquedaInicial' %}" class="boton-link">Búsquedas</a>
                </div> 
            </div>
        </div>
    </div>
</section>
{% endblock Biblioteca %}