{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="Inicio">
    
    <div class="container px-4 px-lg-5">
        
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Resultado de lectores</h2>
                <hr class="divider divider-light" />
                {% if socio %}
                    <p>Datos del socio {{codigo_socio}}</p>                
                    <h4> {{socio.nombre}} {{socio.apellido}} - {{codigo_socio}}</h4>
                    
                {% else %}
                    <p>No se encuentra ningun lector con ese nùmero de socio</p>
                    <p>{{respuesta}}</p>
                {% endif %}
                    
                    
            </div>
        </div>
    </div>
</section>
{% endblock Biblioteca %}